<html>
  <head>
    <title>Hipchat coding exercise</title>
  </head>
  <body>
    <div id="message"></div>
  </body>
  <script type="text/javascript" src="/javascripts/production.js"></script>
</html>